<div>    
      <nav id="navbar">
        <div class="nav-wrapper">
          <!-- Navbar Logo -->
          <div class="logo">
            <!-- Logo Placeholder for Inlustration -->
            <a href="#home"><i class="fa fa-angellist"></i> Logo</a>
          </div>
      
          <!-- Navbar Links -->
          <ul id="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          </ul>
        </div>
      </nav>
      <!-- Menu Icon -->
      <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
      </div>    
</div>


